<!DOCTYPE html>
<html lang="es">
{{> head}}

<body>
<div class="container">
<div class="jumbotron">
    <h1>Hi!</h1>
    <h2>Welcome to the biggest profile database on the whole internet</h2>
    <!-- Not really, some social networks already got a head start -->
    <h3>Please, update your profile information so we can mine and sell your data, it is free!</h3>

    <a class="btn btn-success btn-lg" style="margin-top: 50px;" href="/profile">Take me to my profile!</a>
</div>
</div>
</body>

</html>
