<div class="card hovercard">
    <div class="cardheader" style="background: url('{{profile.backgroundURL}}');">
    </div>
    <div class="avatar">
        <img alt="" src="{{profile.avatarURL}}">
    </div>
    <div class="info">
        <div class="title">
            {{profile.name}}
        </div>
        <div class="desc" style="margin: 20px 0">{{profile.description}}</div>
    </div>
    <div class="bottom">
        <a id="twitter-link" class="fa-stack fa-2x" href="{{profile.twitterURL}}" target="_blank" rel="noreferrer noopener">
            <i class="fa fa-circle fa-stack-2x" style="color: rgb(29, 161, 242)"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </a>
        <!-- Sing with me! https://www.youtube.com/watch?v=71hqRT9U0wg -->
        <!-- If you are hacky and you know it, pwn my app -->
        <!-- If you are hacky and you know it, pwn my app -->
        <!-- If you are hacky and you know it, then my links will surely show it -->
        <a id="facebook-link" class="fa-stack fa-2x" href="{{{profile.facebookURL}}}" target="_blank" rel="noreferrer noopener">
            <i class="fa fa-circle fa-stack-2x" style="color: #3b5998"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </a>
    </div>
</div>


